.row {
	max-width: 100%;
	width: 100%;
	
	.row {
		margin-left: auto;
		margin-right: auto;
	}
	
	&.item {
		padding: 15px 0 0;
	}
	
	&.blue {
		background: rgb(195, 231, 248);
		
		input {
			color: #444;
		}
	}
	&.white {
		background: rgb(255,255,255);
		
		input {
			color: #444;
		}
	}
	&.orange {
		background: rgb(255, 215, 140);
		
		input {
			color: #444;
		}
	}
	&.yellow {
		background: rgb(255, 255, 165);
		
		input {
			color: #444;
		}
	}
	&.green {
		background: #C3FA88;
		
		input {
			color: #444;
		}
	}
	&.red {
		background: rgb(255, 95, 95);
		
		input {
			color: #444;
		}
	}
	&.gray {
		background: rgb(214, 214, 214);
		
		input {
			color: #444;
		}
	}

	input {
		background: transparent;
		border: none;
		box-shadow: none;
		
		&:focus {
			background: white;
			border: 1px solid #cccccc;
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			color: rgba(0, 0, 0, 0.75);
			transition: all 0.15s linear;
		}
	}
}

#weeknumber {	
	input {
		margin-top: -3px;
		color: white;
		font-size: 17px;
		text-align: right;
		width: 90px;
		
		&:focus {
			color: #444;
		}
	}
}

.icon span {
	margin: 7px auto 0;
	display: block;
	width: 0.25em;
}

.avatar {
	height: 30px;
	width: 30px;
	display: block;
	
	&.rene {
		background: transparent url( 'https://secure.gravatar.com/avatar/bb90f988f9dd008698e34233227ca12d?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png' ) no-repeat 0 0;
		background-size: 30px 30px;
	}

	&.chase {
		background: transparent url( 'https://secure.gravatar.com/avatar/2c24e6b57baa13b1e4b9c0fc83512b10?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png' ) no-repeat 0 0;
		background-size: 30px 30px;
	}
}

h1 em {
	font-style: normal;
	font-weight: lighter;
}

table {
	width: 100%;
}